<div class="modal-container">
    <h1 mat-dialog-title>Add New ToDo</h1>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter ToDo Title" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button>Add ToDo</button>
        <button mat-button cdkFocusInitial>Close</button>
    </div>
</div>

