a {
    text-decoration: none;
}

.page-pagination {
    .pagination-list {
        display: flex;
        width: 400px;
        flex-flow: row wrap;
        gap: 5px;
        list-style-type: none;
        padding-left: 28%;
    }

    .pagination-item {
        height: 35px;
        width: 35px;
        border-radius: 5px;
        background-color: #333;

        .pagination-link {
            display: flex;     
            height: inherit;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
        }
    }
}