<div class="todo-list-container" *ngIf="allTodos$ | async as todos">
    <div class="create-todos-block">
        <button mat-raised-button class="creaate-todo-button" (click)="openDialog()">+Add ToDo</button>
    </div>
    <ng-container *ngIf="todosData$ | async as data">
        <div class="todos-data-block">
            <app-todos-data [todosData]="data"></app-todos-data>
        </div>
        <div class="todos-block">
            <div *ngFor="let todo of todos">
                <app-todo-item [todo]="todo" [todosData]="data"></app-todo-item>
            </div>
        </div>
    </ng-container>
</div>

<ng-container *ngIf="loadAllTodos$ | async"></ng-container>
<ng-container *ngIf="loadTodosData$ | async"></ng-container>