.todo-list-container {
    display: flex;
    height: calc(100vh - 64px);
    
    align-items: center;
    flex-direction: column;

    & > * {
        text-align: center;
        width: 500px;
        padding: 5px;
    }
}

.creaate-todo-button {
    width: 250px;
}
